@model List<mvc.framework.Models.NavigationMenuViewModel>
@{
	ViewData["Title"] = "FooterNavigationMenu";
}
&copy; @DateTime.Now.Year to @DateTime.Now.AddYears(1).Year - Dynamic MVC Frameowrk - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>