@model mvc.framework.Models.NavigationMenuViewModel

@{
	ViewData["Title"] = "Create Menu";
}

<h1>Create Menu</h1>

<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="CreateMenu">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Area" class="control-label"></label>
                <select asp-for="Area" class="form-control" id="AreaDropdown"></select>
                <span asp-validation-for="Area" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ControllerName" class="control-label"></label>
                <select asp-for="ControllerName" class="form-control" id="ControllerDropdown"></select>
                <span asp-validation-for="ControllerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActionName" class="control-label"></label>
                <select asp-for="ActionName" class="form-control" id="ActionDropdown"></select>
                <span asp-validation-for="ActionName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DisplayOrder" class="control-label"></label>
                <input asp-for="DisplayOrder" class="form-control" />
                <span asp-validation-for="DisplayOrder" class="text-danger"></span>
            </div>
			<div class="form-group">
				<input type="submit" value="Create" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>

<div>
	<a asp-action="Menus">Back to List</a>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $.getJSON('/Admin/GetAreas', function (data) {
                var areaDropdown = $('#AreaDropdown');
                areaDropdown.append($('<option>').val('').text('Select Area'));
                $.each(data, function (i, area) {
                    areaDropdown.append($('<option>').val(area).text(area));
                });
                areaDropdown.append($('<option>').val('').text('No Area'));
            });

            $('#AreaDropdown').change(function () {
                var area = $(this).val();
                var controllerDropdown = $('#ControllerDropdown');
                controllerDropdown.empty();
                $('#ActionDropdown').empty();
                $.getJSON('/Admin/GetControllers?area=' + area, function (data) {
                    controllerDropdown.append($('<option>').val('').text('Select Controller'));
                    $.each(data, function (i, ctrl) {
                        controllerDropdown.append($('<option>').val(ctrl).text(ctrl));
                    });
                });                
            });

            $('#ControllerDropdown').change(function () {
                var area = $('#AreaDropdown').val();
                var controller = $(this).val();
                var actionDropdown = $('#ActionDropdown');
                actionDropdown.empty();
                if (controller) {
                    $.getJSON('/Admin/GetActions?area=' + area + '&controller2=' + controller, function (data) {
                        actionDropdown.append($('<option>').val('').text('Select Action'));
                        $.each(data, function (i, act) {
                            actionDropdown.append($('<option>').val(act).text(act));
                        });
                    });
                }
            });
        });
    </script>
}